<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

	<section id="masters">
		<div class="container">
			<div class="masters pb100">
				<div class="masters__slider_arrows fic">
					<div class="title">Мастера</div>
					<div class="slider__arrows fic">
						<div class="slider__arrows_arrow leftArrow">
							<i class="arrowRight"></i>
						</div>
						<div class="slider__arrows_arrow rightArrow">
							<i class="arrowLleft"></i>
						</div>
					</div>
				</div>
				
				<div class="row mastersSlider">
					{% for master in displayed_masters %}
						<div class="col-md-3">
							<div class="cardBlock masters__block">
								<div class="masters__header fic">
									<img src="{{master.foto}}" alt="master" class="masters__header_img" height="57" width="57" >
									<div class="masters__header_elmes">
										<div class="masters__header_name">{{master.name}}</div>
										<img src="{% static 'img/rating.svg' %}" alt="rating" class="masters__header_rating">
										<div class="masters__header_reviews">{{master.feedback}}</div>
									</div>
								</div>
								<div class="masters__main">
									<div class="masters__main_speciality">СПЕЦИАЛЬНОСТЬ:</div>
									<div class="masters__main_intro">{{master.speciality}}</div>
								</div>
								<div class="masters__footer fic">
									<div class="masters__footer_block">
										<div class="masters__footer_light">СТАЖ РАБОТЫ:</div>
										<div class="masters__footer_num">{{master.experience}}</div>
									</div>
									<button class="masters__footer_btn">Записаться</button>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
