<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

	<section id="reviews">
		<div class="container">
			<div class="reviews pb100">
				<div class="reviews__slider_arrows fic">
					<div class="title">Отзывы</div>
					<div class="slider__arrows fic">
						<div class="slider__arrows_arrow leftArrow">
							<i class="arrowRight"></i>
						</div>
						<div class="slider__arrows_arrow rightArrow">
							<i class="arrowLleft"></i>
						</div>
					</div>
				</div>
				<div class="row reviewsSlider">
					{% for feedback in viewed_feedbacks %}
						<div class="col-md-3">
							<div class="reviews__block">
								<div class="reviews__name">{{feedback.user}}</div>
								<img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__header_rating">
								<div class="reviews__block_text">
									{{feedback.feedback}}
								</div>
								<div class="reviews__block_date">1 октября 2022</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
